<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MySoldier-Profile</title>
</head>
<body>
  <%- include('./partials/nav-bar.ejs') %>
  <img src="<%= soldierData.profilePictureUrl %>" alt="<%= soldierData.fullName %>'s Photo">
  <p>Name: <%= soldierData.fullName %></p>
  <p>Age: <%= soldierData.age %></p>
  <p>Gender: <%= soldierData.gender %></p>
  <p>Username: <%= soldierData.User.username %></p>
  <p>Email: <%= soldierData.User.email %></p>
  <p>Role: <%= soldierData.User.role %></p>
</body>
</html>