<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySoldier-Admin Mission</title>
    <%- include('./partials/style.ejs') %>
</head>
<body>
    <%- include('./partials/nav-bar.ejs') %>
    <div class="card bigger">
        <h1>Mission List</h1>
        <form action="/admin/missions" method="get" class="filter">
            <label for="location">Filter by Location:</label>
            <select name="location" id="location">
                <option value="" disabled selected>--Choose--</option>
                <% ['Ukraine', 'Syria', 'Qatar', 'Lebanon', 'Afghanistan'].forEach(el => { %>
                    <option value="<%= el %>"><%= el %></option>
                <% }) %>
            </select>
            <label for="level">Or by Level:</label>
            <select name="level">
                <option value="" disabled selected>--Choose--</option>
                <% ['High', 'Medium', 'Easy'].forEach(el => { %>
                    <option value="<%= el %>"><%= el %></option>
                <% }) %>
            </select>
            <button>Filter</button>
        </form>
        <table class="missionTable">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Level Of Difficulty</th>
                    <th>Point</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% missions.forEach((mission, index)=>{ %>
                    <tr>
                        <td><%= ++index %></td>
                        <td><%= mission.formattingName() %></td>
                        <td><%= mission.location %></td>
                        <td><%= mission.levelOfDifficulty %></td>
                        <td><%= mission.point %></td>
                        <% if(mission.status){ %>
                            <td>Completed</td>
                            <% }else{ %>
                            <td>Pending</td>
                        <% } %>
                        <td>
                            <a href="/admin/missions/<%= mission.id %>/edit" class="editButton">Edit</a>
                            <a href="/admin/missions/<%= mission.id %>/delete" class="deleteButton">Delete</a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
        </table>
    </div>
</body>
</html>